body {
  background-color: grey;
  font-family: 'Fredoka One', cursive;
}

#container {
}
  
#content {
  text-align: center;
  border: 15px solid black;
  border-radius: 10px;
}

#timer {
  font-size: 3em;
  text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  
}

button {
  background-color: rgb(9, 114, 117);
  font-size: x-large;
}
  
#buttons:hover {
  cursor: pointer;
}
  
html {
  height: 100%;
  
  
}
  

  





