body {
  background-color: #2a2827;
  font-family: 'Fredoka One', cursive;
}

/* #container {
} */
  
#content {
  text-align: center;
  border: 7px solid rgb(9, 114, 117);
  border-radius: 15px;
  background-color: #7e7b7b;
  margin: 30px;
}

#timer {
  font-size: 3em;
  text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

button {
  background-color: rgb(9, 114, 117);
  font-size: x-large;
  margin: 7px 7px 15px 7px;
  border-radius: 5px;
  border: 2px solid #2a2827;
}
  
button:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 1px white;
}

button:focus {
  outline-color: white;
}
  
html {
  height: 100%;  
}

@media only screen and (min-width: 600px) {
  #content {
    width: 50vw;
    margin: 15px auto;
  }
}